body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn {
  border: 2px rgba(128, 128, 128, 0.144) solid;
  border-radius: 10px;
  box-shadow: 1px 2px 3px gray;
  padding: 0.5rem;
  font-size: large;
  cursor: pointer;
  transition: 1s all;
}
.btn:focus {
  box-shadow: 2px 4px 3px gray;
}

.btn:active {
  box-shadow: none;
  transition: 0.1s all;
  color: gray;
}

.App {
  margin-left: 2rem;
  margin-right: 2rem;
}

input[type="text"],
input[type="number"] {
  width: fit-content;
  padding: 0.3rem;
  margin: 0 0.4rem;
  width: 100%;
  border-radius: 6px;
  display: block;
}

select{
  padding: 0.2rem 1rem;
  border: gray 1px solid;
  border-radius: 14px;
}

.paginate {
  display: flex;
  padding: 1rem 0;
}

.paginate button{
  border: 1px solid rgb(185, 185, 185);
  background-color: rgb(224, 224, 224);
  height: 40px;
  width:  40px;
  color: rgb(131, 131, 131);
  border-radius: 1px;
  cursor: pointer;
}


.paginate button:disabled{
  background-color: rgb(194, 194, 194);
  cursor: unset;
}
.paginate button:active{
  color: white;
  transition: 0.1s all;
}

.paginate button:first-child{
  border-top-left-radius: 12px;
}
.paginate button:last-child{
  border-bottom-right-radius: 12px;
}